*{
  margin: 0;
  padding: 0;
  font-family: "PottaOne-Regular";
}

body{
  background: url(../images/SnakeBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "PottaOne-Regular";
  src: url("../fonts/PottaOne-Regular.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}