.header-top-wrapper{
    background-color: #7dd9e8;
    height: 85px;
    width: 100%;
    
}
.header_top{
    background-color: #7dd9e8;
    width: 1002px;
    margin: 0 auto;
    height: 85px;
}
.header_bottom_wrapper{
    width: 100%;
    background-color: #f5f5f5;
}
.header_bottom{
    background-color: #f5f5f5;
    width: 1002px;
    margin: 0 auto;
    height: 40px;
}
.header_top_c1{
    margin-left: 32px;
    margin-top: 18px;
    margin-bottom: 14px;
    float: left;
}
.header_top_c2{
    margin-left:24px;
    margin-top: 40px;
    float: left;
}
.search_bar_left{
    float: left;
    margin-right: 7px;
}
.search_bar_left img{
    float: left;
}
.search_bar_center{
    height: 17px;
    width: 248px;
    padding: 0 6px;
    background-color: #caeff7;
    padding-top: 3px;
    color: #879693;
    font-size: 12px;
    border-right: 1px solid #7dd9e8;
    float: left;
}
.search_bar_right_div{
    height: 17px;
    padding: 1.5px 6px;
    background-color: #caeff7;
    float: left;
}
.search_bar_right_div img{
    margin-top: 3px;
} 
.search_bar_center img{
    float: right;
    margin-top: 1.5px;
}
.search_bar_right{
    float: right
}
.search_bar_right img{
    float: right;
}
.dark_search_bar{
    float: right;
}
/*.dark_search_bar img{
    float: left;
}*/
.dark_search_center{
    float: right;
    background-color:#274f57;
    color: white;
    font-size: 12px;
    overflow: auto;
}
.dark_search_right{
    float: right;
}
/*.dark_search_right img{
    float: left;
}*/
.header_top_c3{
    margin-right: 32px;
    margin-top: 28px;
    float: right;
}
.header_top_c3_r1{
    font-size: 14px;
    float: right;
    font-weight: bold;
    margin-bottom: 10px;
    clear: both;
}
.header_top_c3_r2{
    font-size: 12px;
    float: right;
    font-weight: bold;
    clear: both;
}
.header_top_c3_r2 ul{
    list-style: none;
}
.header_top_c3_r2 li{
    display: inline;
    padding: 0 5px;
    border-right: solid 1px black;
}
.header_top_c3_r2 ul > li > a{
    color: black;
    text-decoration: none;
}
.header_bottom_c1 ul > li > a{
    color: black;
    text-decoration: none;
}
#rt_li{
    border-right: none;
    padding-right: 0;
}
.header_bottom_c1{
    font-size: 13px;
    width: 480px;
    margin-left: 32px;
    margin-top: 12px; 
    float: left;
}
.header_bottom_c1 ul{
    list-style: none;
}
.header_bottom_c1 li{
    display: inline;
    padding: 0 16px;
}
.header_bottom_c2{
    width: 308px;
    margin-right: 32px;
    margin-top: 12px;
    float: right;
}
.header_bottom_c2 ul{
    list-style: none;
    display: inline;
}
.header_bottom_c2 li{
    display: inline;
    margin: 0 1.5px;
    font-size: 12px;
}
.topic_boxes{
    margin-right: 30px;
}
.body_content_wrapper{
    width: 100%;
}
.body_wrapper{
    height: 640px;
    width: 1002px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #ffffff;
}
.body_left{
    height: 605px;
    width: 194px;
    background-color: #f5f5f5;
    float: left;
    margin-left: 32px;
}
.body_left_wrapper{
    width: 194px;
}
.body_left_r1{
    width: 194px;
}
.body_left_r2{
    width: 194px;
}
.recent_search{
    width: 194px;
    background-color: #2fc1da;
    color: #ffffff;
    font-size: 18px;
    float: left;
}
.recent_search p{
    font-size: 14px;
    margin-left: 12px;
    padding-top: 12px;
    padding-bottom: 14px;
}
.search_items_d{
    background-color: #f5f5f5; 
    color: black;
    width: 100%;
    overflow: auto;
    padding-top: 15px;
}
.search_items_d:hover{
    background-color: #ffffff;
}
.search_items_d p{
    font-size: 13px;
    padding-left: 14px;
    width: 130px;
    float: left;
    margin-bottom: 18px;
    font-weight: bold;
}
.search_items_d img{
    margin-right: 14px;
    margin-top: 12px;
    float: right;
}
.search_items_h{
    background-color: #f5f5f5; 
    color: black;
    width: 100%;
    overflow: auto;
    padding-top: 15px;
}
.search_items_h:hover{
    background-color: #ffffff
}
.search_items_h p{
    font-size: 12px;
    padding-left: 14px;
    width: 130px;
    float: left;
    margin-bottom: 18px;
    font-weight: bold;
}
.search_items_h img{
    margin-right: 14px;
    margin-top: 6px;
    float: right;
}
.main_body{
    height: 605px;
    width: 520px;
    margin-left: 25px;
    background-color:#ffffff;
    float: left;
}
.body_header h1{
    font-size: 25px;
    font-weight: 200;
}
.body_content_r1{
    margin-top: 12px;
    width: 518px;
}
.body_content_en_sub{
    height: 68px;
    width: 516px;
    background-color: white;
}
.body_content_en_sub_c1{
    width: 256px;
    float: left;
    margin-right: 2px;
    background-color: #f5f5f5;
}
.body_content_en_sub_c2{
    width: 256px;
    float: right;
    background-color: #f5f5f5;
}
.all_entries_container{
    float: left;
}
.all_entries{
    width: 246px;
    padding-left: 10px;
    padding-top: 14px;
    text-align: center;
    background-color: #f5f5f5;
}
.subscribed_container{
    float: right;
}
.subscribed{
    width: 246px;
    padding-right: 10px;
    padding-top: 14px;
    text-align: center;
    background-color: #f5f5f5;
}
.all_members{
    margin-top: 8px;
}
.all_members_left{
    float: left;
    content: url('../images/friends_entries_comments_left.jpg');
}
.all_members_right{
    float: left;
    margin-right: 10px;
    content: url('../images/friends_entries_comments_right.jpg');
}
.all_members:hover .all_entries_text{
    background-color: #2FC1DA;
    color: white;
}
.all_members:hover .all_members_right{
    content: url('../images/right_all_members_btn.jpg');
} 
.all_members:hover .all_members_left{
    content: url('../images/left_all_members_btn.jpg');
} 
.all_entries_text{
    width: 86px;
    float: left;
    padding-top: 9px;
    padding-bottom: 5px;
    color: #000000;
    text-align: center;
    font-size: 12px;
    background-color: #dddddd;
}
.body_content_img_des{
    height: 85px;
    background-color: white;
}
.body_img_container{
    float: left;
    margin-right: 10px;
}
.body_content_container{
    height: 70px;
    width: 400px;
    float: left;
}
.body_content_container p{
    font-size: 14px;
    font-weight: bold;
}
.img_content_container {
    clear: both;
    padding-bottom: 12px;
    padding-top: 14px;
    border-bottom: 2px solid #d8d8d8;
    float: left;
}
.user_detail {
    font-size: 12px;
    float: left;
    margin-top: 6px;
    color: #606060;
}
.user_detail ul{
    list-style: none;
}
.user_detail li{
    display: inline;
    padding: 0 5px;
    border-right: solid 1px black;
}
.user_detail a{
    color: #4eafbf;
    text-decoration: none;
}
.from_topic_box{
    clear: both;
    float: left;
    margin-top: 7px;
}
.from_topic_box p{
    font-size: 12px;
    color: #606060;
}
.from_topic_box a{
    color: #4eafbf;
    text-decoration: none;
}
.new_content{
    color: #4eafbf;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}
.body_right{
    height: 605px;
    width: 175px;
    background-color: #f5f5f5;
    float: right;
    margin-right: 32px;
} 
.body_right_wrapper{
    width: 175px;
}
.body_right_r1{
    width: 175px;
}
.video_search{
    width: 175px;
    background-color: #2fc1da;
    color: #ffffff;
    font-size: 18px;
    float: left;
}
.video_search p{
    font-size: 15px;
    margin-left: 12px;
    padding-top: 12px;
    padding-bottom: 14px;
}
.video_items{
    background-color: #f5f5f5; 
    color: black;
    width: 100%;
    overflow: auto;
    padding-top: 15px;
}
.video_items:hover{
    background-color: #ffffff;
}
.video_items p{
    font-size: 13px;
    padding-left: 12px;
    float: left;
    margin-bottom: 18px;
    font-weight: bold;
}
.footer_content_wrapper{
    width: 100%;
    background-color: #727272;
}
.footer_wrapper{
    margin: 0 auto;
    height: 46px;
    width: 1002px;
    background-color: #727272;
}
.footer_left{
    font-size: 10px;
    font-weight: bold;
    float: left;
    margin-left: 32px;
    margin-top: 19px;
}
.footer_left ul{
    list-style: none;
}
.footer_left li{
    display: inline;  
}
.footer_left ul > li > a{
    color: #d5d5d5;
    text-decoration: none;
    padding: 0 4px;
}
.footer_left img{
    padding-bottom: 2px;
}
.footer_right{
    font-size: 10px;
    font-weight: bold;
    float: right;
    margin-right: 32px;
    margin-top: 20px;
}
.footer_right li{
    display: inline;
}
.footer_right ul{
    list-style: none;
}
.footer_right ul > li {
    color: #d5d5d5;
    text-decoration: none;
    padding-left: 8px;
}
